<div class="admin-nav-bar row">
  <div class="col-1-2 middle pl-3">
    <button type="button" class="admin-nav-bar__btn">
      <i class="fa fa-bars"></i>
    </button>
    <button type="button" class="admin-nav-bar__btn">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="col-1-2 middle admin-nav-bar__right-box">
    <div class="dropdown active">
      <button type="button" class="dropdown__toggle">
        <img
          class="dropdown__avatar"
          src="./../../../assets/images/avatar.jpg"
        />
        John Doe
        <i class="fa fa-caret-down"></i>
      </button>
      <ul class="dropdown__list" style="top: 125%;">
        <li>
          <a href="#" class="active">
            <i class="fa fa-cog"></i>
            Setting
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            Profile
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-commenting-o"></i>
            Messages
          </a>
        </li>
        <li class="dropdown__divider"></li>
        <li>
          <a href="#">
            <i class="fa fa-power-off"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
