.dropdown {
  font-size: 0;
  position: relative;

  &__toggle {
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    font-weight: 700;
    outline: none;

    & > i {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &__avatar {
    border-radius: 100%;
    display: inline-block;
    height: 4rem;
    margin-right: 1rem;
    width: 4rem;
  }

  &__divider {
    background-color: rgba($color: black, $alpha: 0.1);
    height: 1px;
    margin: 0.8rem 0;
  }

  &.active > &__list {
    opacity: 1;
    transform: scaleY(1);
  }

  &__list {
    background-color: white;
    border: solid 1px rgba($color: black, $alpha: 0.1);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba($color: black, $alpha: 0.2);
    font-size: 1.5rem;
    list-style: none;
    min-width: 16rem;
    max-width: 30rem;
    opacity: 0;
    position: absolute;
    padding: 1rem 0;
    right: 0;
    top: 100%;
    transition: all 0.3s ease-out;
    transform-origin: top;
    transform: scaleY(0);
    width: 100%;

    & > li {
      & > a {
        &,
        &:link,
        &:visited {
          cursor: pointer;
          display: block;
          padding: 1rem 2rem;
          text-decoration: none;
          transition: all 0.4s ease;

          &.active {
            font-weight: bold;
          }

          &:hover {
            background-color: rgba($color: black, $alpha: 0.05);
          }

          & > i {
            margin-right: 1.2rem;
          }
        }
      }
    }
  }
}
